body {
    background-color: rgba(127, 127, 127, 0.5);
  }
  p1 {
    padding: 1rem 2rem;
    text-align: center;
    color: #fff;
    background: #094;
    -webkit-box-shadow: 5px 5px 0 #007032;
    box-shadow: 5px 5px 0 #007032;
  }
  p2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 25px;
  }
  p {
    font-size: 40px;
  }