body {
    background-color: rgba(127, 127, 127, 0.5);
  }
  p1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
  }
  p2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 25px;
  }
  p {
    font-size: 40px;
  }